:root {
    --heroColor: #1f2937;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    background-color: var(--heroColor);
    width: 100%;
    height: 50px;
    
}

.header {
    display: grid; 
    grid-template-columns: 25% 50%; 
    grid-template-rows: 1fr; 
    gap: 0px 25%; 
    grid-template-areas: 
        ". ."; 
    height: 50px;

}

.headerLogo {
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.headerLink li {
    list-style: none;
}

.headerLink ul {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
    
}

.headerLink a {
    color: whitesmoke;

}
